
.about-container {
    text-align: center;
}
.about-container h3 {
    color: aqua;
    font-style: oblique;
    text-align: center;
}
.about-container img {
    border-radius: 100%;
    outline: none;
    border: 5px solid #007bff;

}
.about-text  p {
    font-weight: 1.5em;
    font-size: medium;
    font-family: sans-serif;
}

.about-text span {
    color: #fc0cc0;
}

.about-text h2 {
    color: #007bff;
}

.cv-btn {
    background-color: #1dca22;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cv-btn:hover {
    background-color: #23a82a;
}
