.contact-container {
    margin: 50px auto;
    padding: 20px 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.contact-container p {
    font-style: oblique;
    color: cadetblue;
}
.contact-container h3 {
    color: aqua;
    font-family: sans-serif;
    font-style: oblique;
}
.contact-container label {
    font-weight: 100px;
    font-family: sans-serif;
    color: cadetblue;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #70ade6;
    border-radius: 5px;
    margin: 10px auto;
    outline: none;
    font-size: 16px;
    text-align: center;
}



button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #3ad353;
}

.notification-container {
    position: fixed;
    width: 100%;
}

.notification {
    padding: 5px 3px;
    border-radius: 5px;
    color: white;
    animation: slideIn 0.5s, fadeOut 0.5s 4.5s forwards;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
