body {
    background: #f8f9fa
}
header {
    background: cornflowerblue;    
}
.nav-links li {
    list-style: none;
}
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e718e7;
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 999;
}
#backToTopBtn:hover {
    background-color: #df32df;
}
