<!-- templates/admin_login.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <h3>Admin Login</h3>
    <form  method="post" action="{% url 'admin_login' %}">
        {% csrf_token %}
        <label >Username:</label>
        <input type="text" name="username" placeholder="Enter username" required>
        <label>Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required><br><br>
        <button type="submit">Login</button>
    </form>
</div>
<style>
.login-container{
    max-width: 350px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.login-container h3 {
    color: aqua;
    font-family: sans-serif;
    font-style: oblique;
}
.login-container label{
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(50, 138, 141);
    
}
.login-container input {
    width: 100%;
    margin: 10px auto;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
    text-align: center;

}

button{ 
    background-color: #007bff;
    border-radius: 30px;
    padding: 10px 15px;
    color: white;
    border: none;
    width: 100%;
}
button:hover{
    background-color: #007bf4;
}
</style>
{% endblock %}