{% extends 'base.html' %}

{% block content %}
<style>
  .alert-container{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .alert {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 80%;
    text-align: center;
  }
</style>
{% if messages %}
  <div class="alert-container">
    {% for message in messages %}
      <div class="alert alert-success">
        {{ message}}
      </div>
      {% endfor %}
  </div>
  {% endif %}
{% endblock %}
